<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TimesheetSystem</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TimesheetSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="ui menu" data-header>
        <div class="header item">
            <img class="ui mini circular image" src="/images/image.png">

        </div>
        <div class="item">
            <a class="ui primary button" href="/Timesheet/Timesheet">Timesheet</a>
        </div>
        <div class="right menu">
            <div class="item">
                <a class="ui primary button" id="download">Download report</a>
            </div>

        </div>


    </div>

    <div class="ui container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
