@{
    ViewData["Title"] = "Home Page";
}

<div class="ui grid" data-timeform>
    <div class="sixteen wide column">
       
        <div class="ui form formcard">
            <h3 class="ui center aligned header">Submit your timesheet</h3>
            <div class="two fields">
                <div class="field">
                    <label>
                        User name
                        <span></span>
                    </label>
                    <div class="ui selection dropdown">
                        <input type="hidden" id="username" data-check>
                        <i class="dropdown icon"></i>
                        <div class="default text">Select user</div>
                        <div class="menu">
                            @foreach (var item in ViewBag.Users)
                            {
                                <a class="item" id="@item.Id"> @item.UserName</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>
                        Date
                        <span></span>
                    </label>
                    <input type="text" id="datepicker" class="ui calendar" placeholder="Select Date" data-check>
                </div>

            </div>
            <div class="two fields">

                    <div class="field">
                        <label>
                            Project
                            <span></span>
                        </label>
                        <input type="text" placeholder="Project" id="project" data-check>
                    </div>

                    <div class="field">
                        <label>
                            Hours worked
                            <span></span>
                        </label>
                        <input type="text" id="hoursworked" placeholder="Hours worked" data-check>
                    </div>

            </div>
                <div class="field">
                    <label>
                        Description
                        <span></span>
                    </label>
                    <textarea placeholder="Description" id="description" data-check></textarea>
                </div>

            <button class="ui primary submit button float-end" type="submit" id="submit">Submit</button>
            <button class="ui clear button">Clear</button>
        </div>
    </div>
</div>
